
<div class="container">
  <h3>Proposal Overview:</h3>
  <p>Proposal Title:</p>
  <p><%= @proposal.title %></p>
  <p>Hypothesis:</p>
  <p><%= @proposal.hypothesis %></p>
  <p>Summary:</p>
  <p><%= @proposal.summary %></p>
    <div class="proposal-footer">
      <p>Proposal Created at:</p>
    <p><%= @proposal.created_at %></p>
      <p>Proposer:</p>
    <p><%= @proposal.proposer.name %></p>
    </div>
</div>

<% if @proposal.experiments.length > 0 %>
  <h4>Current experiments based on this proposal:</h4>
  <% @proposal.experiments.each do |experiment| %>
    <%= link_to experiment.title, proposal_experiment_path(experiment.proposal, experiment) %><br>
  <% end %>
<% end %>
<br>
<br>
<div id="new-experiment-link">
<%= link_to "Create New Experiment", new_proposal_experiment_path(@proposal) %>
</div>

