
<div class="container">
<h3>Proposal Overview:</h3>
<p><%= @proposal.title %></p>
<p><%= @proposal.hypothesis %></p>
<p><%= @proposal.title %></p>
<p><%= @proposal.summary %></p>
<p><%= @proposal.created_at %></p>
<p><%= @proposal.proposer.name %></p>

</div>


