<div class="container">

  <h3>Experiment Overview:</h3>
<%= @experiment.title %>
<%= @experiment.materials %>
<%= @experiment.observations %>
<%= @experiment.results %>
<%= @experiment.conclusion %>
<%= @experiment.results %>
<%= @experiment.proposal.title %>
<%= @experiment.experimenter %>
<%= @experiment.created_at %>
</div>
