<div class="container">

  <h3>Experiment Overview:</h3>
<p><%= @experiment.title %></p>
<p><%= @experiment.materials %></p>
<p><%= @experiment.observations %></p>
<p><%= @experiment.results %></p>
<p><%= @experiment.conclusion %></p>
<p><%= @experiment.results %></p>
<p><%= @experiment.proposal.title %></p>
<p><%= @experiment.experimenter.name %></p>
<p><%= @experiment.created_at %></p>
</div>
