<div class="container">

  <h3>Experiment Overview:</h3>

<p>Title:</p>
<p><%= @experiment.title %></p>

<p>Materials:</p>
<p><%= @experiment.materials %></p>
<p>Observations:</p>
<p><%= @experiment.observations %></p>
<p>Results:</p>
<p><%= @experiment.results %></p>
<p>Conclusion:</p>
<p><%= @experiment.conclusion %></p>
<p>Results:</p>
<p><%= @experiment.results %></p>

  <div class="experiment-footer">
    <p>This is based off of the following Proposal:</p>
    <p><%= @experiment.proposal.title %></p>
    <p>Expirement Lead:</p>
    <p><%= @experiment.experimenter.name %></p>
    <p>Experiment Status:</p>
    <p><%= @experiment.created_at %></p>
  </div>
</div>
