<div class="all-forms">
  <br>
  <h4>Create Experiment</h4>
  <br>
  <%= form_for [@proposal, @experiment] do |f| %>
    <div class="input-field">
      <%= f.label :title %><br>
      <%= f.text_field :title%>
    </div>

    <div class="input-field">
      <%= f.label :materials %><br>
      <%= f.text_field :materials%>
    </div>

    <div class="input-field">
      <%= f.label :procedures %><br>
      <%= f.text_field :procedures%>
    </div>

      <div class="input-field">
      <%= f.label :observations %><br>
      <%= f.text_field :observations%>
    </div>

    <div class="input-field">
      <%= f.label :results %><br>
      <%= f.text_field :results%>
    </div>

    <div class="input-field">
      <%= f.label :conclusion %><br>
      <%= f.text_field :conclusion%>
    </div>

    <div class="actions">
      <%= f.submit%>
    </div>
  <% end %>
</div>
