<%= form_for [@proposal, @experiment] do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :materials %><br>
    <%= f.text_field :materials%>
  </div>

  <div class="field">
    <%= f.label :procedures %><br>
    <%= f.text_field :procedures%>
  </div>

    <div class="field">
    <%= f.label :observations %><br>
    <%= f.text_field :observations%>
  </div>

  <div class="field">
    <%= f.label :results %><br>
    <%= f.text_field :results%>
  </div>

  <div class="field">
    <%= f.label :conclusion %><br>
    <%= f.text_field :conclusion%>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>

<% end %>












