<br>
<h5><%= @experiment.title %></h5>
<p style = "color:grey;">by <%= @experiment.experimenter.name %>&nbsp;|&nbsp;<%= @experiment.created_at.strftime("%F") %></p>
<p></p>
<br>
<label class = "info-titles">Materials:</label>
<p ><%= @experiment.materials %></p>
<label class = "info-titles">Observations:</label>
<p><%= @experiment.observations %></p>
<label class = "info-titles">Results:</label>
<p><%= @experiment.results %></p>
<label class = "info-titles">Conclusion:</label>
<p><%= @experiment.conclusion %></p>
<label class = "info-titles">Results:</label>
<p><%= @experiment.results %></p>

<div class="experiment-footer">
  <label class = "info-titles">This is based off of the following Proposal:</label>
  <p><%= @experiment.proposal.title %></p>
</div>


<br>
<%= link_to "New comment", new_experiment_comment_path(@experiment) %>
<h5>Comments</h5>
<br>
<% if @comments.length > 0 %>
  <%= render partial: 'comments/show' %>
<% else %>
  <p>There are no comments yet.</p>
<% end %>

