<br>
<h5><%= @experiment.title %></h5>
<p style = "color:grey;">by <%= @experiment.experimenter.name %>&nbsp;|&nbsp;<%= @experiment.created_at.strftime("%F") %></p>
<p></p>
<br>
<label>Materials:</label>
<p><%= @experiment.materials %></p>
<label>Observations:</label>
<p><%= @experiment.observations %></p>
<label>Results:</label>
<p><%= @experiment.results %></p>
<label>Conclusion:</label>
<p><%= @experiment.conclusion %></p>
<label>Results:</label>
<p><%= @experiment.results %></p>

<div class="experiment-footer">
  <label>This is based off of the following Proposal:</label>
  <p><%= @experiment.proposal.title %></p>
</div>


<br>
<%= link_to "New comment", new_experiment_comment_path(@experiment) %>
<h5>Comments</h5>
<%= render partial: 'comments/show' %>

