<div class="container">
  <br>
  <h4>Create Proposal</h4>
  <br>
  <%= form_for @proposal do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title%>
    </div>

    <div class="field">
      <%= f.label :hypothesis %><br>
      <%= f.text_field :hypothesis%>
    </div>

    <div class="field">
      <%= f.label :summary %><br>
      <%= f.text_field :summary %>
    </div>

    <div class="actions">
      <%= f.submit%>
    </div>

  <% end %>
</div>
