<br>
<h5><%= @proposal.title %></h5>
<p style = "color:grey;">by <%= @proposal.proposer.name %>&nbsp;|&nbsp;<%= @proposal.created_at.strftime("%F") %></p>
<label class = "info-titles">Hypothesis:</label>
<p><%= @proposal.hypothesis %></p>
<label  class = "info-titles">Summary:</label>
<p><%= @proposal.summary %></p>
  <div class="proposal-footer">


  </div>
<br>
<br>
<% if @proposal.experiments.length > 0 %>
  <h5>Current experiments on this proposal:</h5>
  <div>
    <% @proposal.experiments.each do |experiment| %>
      <span class = "exp-links"><%= link_to experiment.title, proposal_experiment_path(experiment.proposal, experiment) %></span><br>
    <% end %>
  </div>
<% end %><br><br>

<% if current_user.user_type == "lab staff" %>
  <div id="new-experiment-link">
    <%= button_to "Create New Experiment", new_proposal_experiment_path(@proposal), :method => :get, class: "btn" %>
  </div>
<% end %>
<br>
<br>
<h5>Comments</h5>
<br>
  <div class="hidden" id="new-form-container">
    <%= render partial: "comments/comment_form", locals: { commentable: @proposal, comment: Comment.new } %>
  </div>
<div class="new-comment"></div>
<br>
<% if @comments.length > 0 %>
  <%= render partial: 'comments/show' %>
<% else %>
  <p>There are no comments yet.</p>
<% end %>

