<!DOCTYPE html>
<html>
<head>
  <title>DBCLabs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</head>



<%= render "shared/nav_bar" %>

<div class="row">
  <div class="col s9">
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </div>
</div>


</html>
